@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
:root {
    --fonte1: 'Share Tech', sans-serif;
    --fontedestaque: 'Bebas Neue', 'cursive';
}
body {
    margin: 0px;
    background-color: rgba(255, 228, 196, 0.619);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-image: linear-gradient(to bottom, #49c5a0, #208a57);
    text-align: center;
    color: white;
    padding: 45px;
    padding-bottom: 0px;
}
nav {
    padding: 10px;
    width: 100%;
    text-align: left;
    padding-bottom: 15px;
}
header > p {
    margin-bottom: 20px;
}
nav > a {
    color: white;
    text-decoration: none;
    margin: 3px;
    padding: 10px;
    font-weight: bold;
}
nav > a:hover {
    background-color: rgba(255, 255, 255, 0.228);
}
h1 {
   font-family: var(--fontedestaque); 
   font-size: 3em;
   margin-top: 10px;
   margin-bottom: 10px;
}
main {
    max-width: 1000px;
    min-width: 280px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.266);
    padding-bottom: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: auto;
}
main img {
width: 100%; }
main img.pequena {
    width: 50%;
}
.subt {
    background-image: linear-gradient(to right, rgba(25, 185, 100, 0.731), rgba(226, 238, 232, 0.314)) ;
; text-align: left;
    margin-right: 3px;
    margin-left: 20px;
    padding-left: 15px;
    font-family: var(--fonte1);
}

h2 {
    
    color: white;
}
#titulo {
    margin-top: 0px;
    padding-top: 19px;
    color: rgb(124, 124, 124);
    font-family: var(--fonte1);
    font-size: 1.5em;
}
div {
    background-color: rgb(103, 252, 175);
    border-radius: 5px;
    margin: 25px;
    text-align: justify;
    padding-bottom: 15px;
   
}
h3 {
    background-color: rgb(31, 219, 122);
    border-radius: 5px;
    color: white;
    padding: 10px;
}
.text {
    margin: 15px;
}
.item {
    width: 400px;
} 
footer {
    font-style: italic;
    color: white;
    background-color: black;
    font-size: 0,8em;
    text-align: center;
    padding: 2px;
    margin-top: 20px;
}
footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
footer a:hover {
    text-decoration: underline;
    color:  rgb(32, 138, 87);
}
header > h1:hover {
    text-shadow: 1px 1px 1px rgb(250, 247, 247); 
}
header > p:hover {
    text-decoration: underline;
}
#videoResponsivo {
    background-color: #208a57;
    margin-bottom: 30px;
    margin: 0px 0px;
    border-radius: 0px;
    position: relative;
    padding-bottom: 56.3%;
}
#videoResponsivo > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

